<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <!--Combat System Test-->
  </h1>

  <!--<div class="pl1">-->
      <!--<div *ngFor="let attack of player1.weapon.attacks">-->
        <!--<input type="radio" id="{{attack.name}}" name="attackType"-->
               <!--value="{{attack.name}}" (click)="setSelectedAttack(attack)">-->
        <!--<label for="{{attack.name}}">{{attack.name}}</label>-->
      <!--</div>-->

      <!--<select [(ngModel)]="selectedTarget">-->
        <!--<option value="">Select One</option>-->
        <!--<option *ngFor="let bodySection of player2.getBodyParts()" [value]="bodySection">{{bodySection}}</option>-->
      <!--</select>-->

      <!--<div>-->
        <!--<button (click)="playerAttacks()">Submit</button>-->
      <!--</div>-->
  <!--</div>-->
</div>
